/* -----------------------------------------------------------------------------
    CSS Farbabstufungen: http://www.0to255.com/40434E
-----------------------------------------------------------------------------*/

/* -----------------------------------------------------------------------------
    Global styles
-----------------------------------------------------------------------------*/
* {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

body {
    background-color: #f8f8f8;
    margin-bottom: 50px;
    min-height: 100%;
}

a {
    color: #40434E;
}

a:hover {
    color: #4A1921;
}

p:not(.slider-paragraph) {
    text-align: justify;
}

html {
    min-height: 100%;
    position: relative;
}

/* -----------------------------------------------------------------------------
    Main Container Wrapper
 -----------------------------------------------------------------------------*/
.container-margin {
    margin-top: 50px;
}

/* -----------------------------------------------------------------------------
    Logo styles
-----------------------------------------------------------------------------*/
#logo {
    overflow: hidden;
    position: absolute;
    left: -30%;
    top: -350%;
    height: 145px;
    width: 200px;
    z-index: 9999;
}

.logo-link, .logo-link:visited, .logo-link:hover, .logo-link:active {
    text-decoration: none;
}

/* -----------------------------------------------------------------------------
    Footer styles
-----------------------------------------------------------------------------*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    text-align: center;
}

.footer > .container {
    margin-top: 15px;
}

.container .text-muted {
    margin-left: 50px;
    display: inline;
}

/* -----------------------------------------------------------------------------
    Form styles
-----------------------------------------------------------------------------*/
.form-control {
    width: 80%;
    margin-bottom: 15px;
}

.form-group > label {
    padding: 0;
}

.portions-input {
    width: 25%;
}

/* -----------------------------------------------------------------------------
    Button styles
-----------------------------------------------------------------------------*/
.btn-sm {
    color: #f8f8f8
}

.btn:not(.btn-portions) {
    background-color: #702632;
    border-color: #4a1921;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #963343;
    border-color: #4a1921;
}

.btn-portions {
    top: 0px;
    background-color: #eee;
    border: 1px solid #ccc;
}

/* -----------------------------------------------------------------------------
    Header styles
-----------------------------------------------------------------------------*/
@media (max-width: 993px) {
    #navbar {
        display: none;
    }
}

#header-wrapper {
    width: 40px;
}

#user-name-header {
    cursor: pointer;
}

#navbar {
    border-top: 1px solid #080705;
    border-bottom: 2px solid #080705;
    margin-bottom: 20px;
    margin-top: 30px;
}

.button-sidemenu {
    cursor: pointer;
    width: 3%;
}

.nav.nav-inline .nav {
    text-align: center;
}

#dropdown-recipe-categorie {
    color: #fff;
}

.lulilucullus-navbar {
    padding-top: 15px;
}

/* -----------------------------------------------------------------------------
    Login Button styles
-----------------------------------------------------------------------------*/
#login-img-buttons {
    margin-left: 17%;
}

#login-img {
    width: 50px;
}

/* -----------------------------------------------------------------------------
    Dropdown Styles
-----------------------------------------------------------------------------*/
.lulilucullus-dropdown {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 15px;
    text-align: left;
    list-style: none;
    background-color: rgba(248, 248, 248, .75);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.lulilucullus-dropdown-left {
    right: auto;
    left: 0;
}

.lulilucullus-dropdown-right {
    right: 0;
    left: auto;
}

.lulilucullusMain-dropdown {
    left: 0;
    float: none;
}

.lulilucullus-dropdown > ul {
    list-style: none;
    padding-left: 10px;
}

.lulilucullusDropdownToggler {
    float: right;
    padding: 0px 75px 0px 0px;
    cursor: pointer;
}

/* -----------------------------------------------------------------------------
    Slider styles
-----------------------------------------------------------------------------*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    max-width: 900px !important;
    max-height: 555px !important;
    margin: auto;
}

#home-slider {
    margin-bottom: 20px;
}

.carousel-caption {
    color: #912F40;
}

.carousel-caption {
    background-color: rgba(248, 248, 248, 0.6);

}

.carousel-control, .carousel-control:hover {
    color: #912F40;
}

/* -----------------------------------------------------------------------------
    Profile styles
-----------------------------------------------------------------------------  */
.profile-form > div {
    margin-bottom: 15px;
}

.faq-question {
    font-weight: bold;
}

.faq-answer {
    font-style: italic;
}

/* -----------------------------------------------------------------------------
    Recipe Overview
-----------------------------------------------------------------------------*/
.recipes-overview-short-description {
    font-size: 12px;
}

.thumbnail {
    background-color: #f8f8f8;
    border-color: #4A1921;
}
/* -----------------------------------------------------------------------------
    Recipe Details Styles
----------------------------------------------------------------------------- */
#copyrightPrint {
    visibility: hidden;
}

.recipe-instructions {
    margin-top: 20px
}

.recipe-container-row {
    margin-left: auto;
    margin-right: auto;
}

.recipe-print-icon {
    cursor: pointer;
    margin-left: 90px;
}

.recipe-rating-wrapper {
    margin-top: 7px;
}

.recipe-header-information {
    margin-bottom: 20px;
}

.recipe-ingredients-list-wrapper {
    border: 2px solid #4a1921;
    border-radius: 0;
}

.recipe-ingredients-list, .recipe-ingredients-list-wrapper {
    list-style: none;
}

.recipe-ingredients-list-item-first-column, .recipe-ingredients-list-item-second-column {
    display: inline;
}

.recipe-ingredients-headline {
    margin-top: 0px;
}

.recipe-ingredients-list-item-second-column {
    padding-right: 40px;
    float: right;
}

#portionsWrapper {
    margin-top: 2%;
}

/* -----------------------------------------------------------------------------
    Recipe Filter Styles
----------------------------------------------------------------------------- */
#filter-bar {
    display: none;
}

#recipe-filter {
    color: #fff;
}

#filterSubmitBtn {
    color: #fff;
    margin-bottom: 5px;
    margin-right: 5px;
}

.filterOptionsWrapper {
    padding-left: 20px;
}

.filterOptionsLabel {
    font-weight: normal;
    padding-left: 5px;
}

.panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* -----------------------------------------------------------------------------
    Rating styles
----------------------------------------------------------------------------- */
.breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
}


/* -----------------------------------------------------------------------------
    Rating styles
----------------------------------------------------------------------------- */
/*.c-rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-rating__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 24px;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    height: 24px;
    display: block;
    background: url("../../img/star.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    list-style: none;
}

.c-rating__item:hover,
.c-rating__item.is-active {
    background-position: -24px 0;
<<<<<<< HEAD
}

/* -----------------------------------------------------------------------------
    Chat styles
----------------------------------------------------------------------------- */
/*
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}
*/
.ordersDataTable {
    height: auto !important;
}
.panel-body {
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}
/*
.lulilucullus-chat {
    border: none;
}

#accordion {
    background-color: #912F40;
}
*/