@media print {
    #header-wrapper {
        display: none;
    }
    #navbar {
        display: none;
    }
    .breadcrumb {
        display: none;
    }
    .recipe-print-icon {
        display: none;
    }
    .rating {
        display: none;
    }
    .recipes-image-fallback {
        width: 150px;
        height: auto;
    }
    #copyrightPrint {
        visibility: visible;
    }
    #footer-wrapper {
        visibility: hidden;
    }
}