@media print {
    #header-wrapper {
        display: none;
    }

    #navbar {
        display: none;
    }

    .breadcrumb {
        display: none;
    }

    .recipe-print-icon {
        display: none;
    }

    .rating {
        display: none;
    }

    .recipes-image-fallback {
        width: 150px;
        height: auto;
    }

    #copyrightPrint {
        padding-left: 15px;
        visibility: visible;
    }

    .footer {
        visibility: hidden;
    }

    .recipe-image {
        max-height: 250px;
    }

    .recipe-time-needed {
        font-weight: 300;
    }
}