<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="/administration">Administration</a>
    </div>
    <ul class="container-fluid">
        <a class="dropdown-toggle lulilucullusAdminDropdownToggler" id="lulilucullusAdminDropdownToggler">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <div id="lulilucullusAdminDropdown" class="lulilucullus-dropdown lulilucullusAdmin-dropdown lulilucullusAdmin-dropdown-right"
             style="position:absolute; overflow:hidden;">
            <ul class="navbar-navbar-right">
                <li><a href="profile"><i class="fa fa-user fa-fw"></i>User Profile</a>
                </li>
                <!--<li><a href="/administration/"><i class="fa fa-gear fa-fw"></i>Settings</a>
                </li>-->
                <li class="divider"></li>
                <% if(locals.user !== undefined && locals.user.isAdmin !== undefined) { %>
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                    <% } else { %>
                <li><a href="/administration-login"><i class="fa fa-sign-in fa-fw"></i>Login</a>
                    <% } %>
                </li>
            </ul>
        </div>
    </ul>
</nav>