
<!-- TODO: Dropdown not working (dont know why) -->
<!--<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" href="/administration">Administration</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown open">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target=".dropdown-user" href="/administration" onclick="dropdown()">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <button id="adminDropdown" class="dropdown-toggle">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu dropdown-user in">
                <li><a href="/administration"><i class="fa fa-user fa-fw"></i>User Profile</a>
                </li>
                <li><a href="/administration"><i class="fa fa-gear fa-fw"></i>Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="/login"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>-->

<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <button class="btn btn-primary dropdown-toggle" type="button" id="btnTest">Dropdown Example
            <span class="caret"></span>
        </button>
        <div id="dropdownTest" hidden>
            <ul class="navbar navbar-nav navbar-right">
                <li class="dropdown">
                    <ul class="dropdown-menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>-->


<nav class="navbar navbar-default">
    <div class="container-fluid" style="position:relative;">
        <button class="btn btn-primary" type="button" id="btnTest">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </button>
        <div id="dropdownTest" style="position:absolute; overflow:hidden;">
            <ul>
                <li>Test1</li>
                <li>Test2</li>
                <li>Test3</li>
            </ul>
        </div>
    </div>
</nav>