<div id="footer-wrapper">
    <footer>
        <a href="/impressum">Impressum</a>
        <a href="/404">Kontakt</a>
        <a href="/404">FAQ</a>
        <a href="/404">Über</a>
    </footer>
</div>