<footer class="footer">
    <div class="container">
        <p class="text-muted"><a href="/impressum">Impressum</a></p>
        <p class="text-muted"><a href="/contact">Kontakt</a></p>
        <p class="text-muted"><a href="/faq">FAQ</a></p>
        <p class="text-muted"><a href="/about">Über</a></p>
    </div>
</footer>
