<div id="footer-wrapper">
    <!--<footer>
        <a href="/impressum">Impressum</a>
        <a href="/">Kontakt</a>
        <a href="/">FAQ</a>
        <a href="/">Über</a>
    </footer>-->

    <div id="footer" class="container-fluid">
        <ul class="nav nav-justified">
            <li style="width: 0.05%"><a href="/impressum">Impressum</a></li>
            <li style="width: 0.05%"><a href="/">Kontakt</a></li>
            <li style="width: 0.05%"><a href="/">FAQ</a></li>
            <li style="width: 0.05%"><a href="/">Über</a></li>
        </ul>
    </div>
</div>
