<nav class="navbar navbar-default lulilucullus-navbar">
    <ul class="navbar-left">
        <a class="dropdown-toggle" id="lulilucullusMainDropdownToggler">
            <i class="fa fa- fa-bars fa-fw"></i>
        </a>
        <div id="lulilucullusMainDropdown"
             class="lulilucullus-dropdown lulilucullusMain-dropdown lulilucullus-dropdown-left"
             style="position:absolute; overflow:hidden;">
            <ul>
                <li><a href="/"><i class="fa fa- fa-home" aria-hidden="true"> Home</i></a></li>
                <li><a href="/contact"><i class="fa fa-envelope" aria-hidden="true"> Kontakt</i></a></li>
                <li><a href="/catering"><i class="fa fa-cutlery" aria-hidden="true"> Catering</i></a></li>
                <li><a href="/rent-a-chef"><i class="fa fa-user" aria-hidden="true"> Rent a Koch</i></a></li>
                <li><a href="/kochboxen"><i class="fa fa-gift" aria-hidden="true"> Kochboxen</i></a></li>
                <li><a href="/events"><i class="fa fa-calendar-o" aria-hidden="true"> Events</i></a></li>
                <li><a href="/kochkurse"><i class="fa fa-users" aria-hidden="true"> Kochkurse</i></a></li>
                <li><a href="/gutscheine"><i class="fa fa-usd" aria-hidden="true"> Gutscheine</i></a></li>
                <li class="divider"></li>
                <% if (locals.user) { %>
                <li><a href="/recipes"><i class="fa fa-file-text-o" aria-hidden="true"> Rezepte</i></a></li>
                <% } else { %>
                <% if (typeof req !== 'undefined') req.session.redirectTo = '/recipes' %>
                <li><a href="/login"><i class="fa fa-file-text-o" aria-hidden="true"> Rezepte</i></a></li>
                <% } %>
                <li><a href="#"><i class="fa fa-list" aria-hidden="true"> Meine Rezepte</i></a></li>
            </ul>
        </div>
    </ul>
    <ul class="navbar-inner">
        <a class="nav-center" href="/"><img src="/img/logo.svg"/></a>
    </ul>
    <ul class="navbar-right ">
        <% if(locals.user) { %>
        <a class="dropdown-toggle lulilucullusDropdownToggler" id="lulilucullusDropdownToggler">
            <span><%= user.displayName %></span>
        </a>
        <% } else { %>
        <a href="/login" class="dropdown-toggle lulilucullusDropdownToggler" id="lulilucullusDropdownToggler">
            <i class="fa fa-sign-in"> Login</i>
        </a>
        <% } %>
        <% if (locals.user) { %>
        <div id="lulilucullusDropdown" class="lulilucullus-dropdown lulilucullus-dropdown-right"
             style="position:absolute; overflow:hidden;">
            <ul>
                <% if (user.provider) { %>
                <li><a href="/login/profile-external"><i class="fa fa-user"> Profilverwaltung</i></a></li>
                <% } else if(user.provider && user.provider.isAdmin !== undefined)  { %>
                <% } else { %>
                <li><a href="/login/profile"><i class="fa fa-user"> Profilverwaltung</i></a></li>
                <% } %>
                <li><a href="/logout"><i class="fa fa-sign-out"> Logout</i></a>
            </ul>
        </div>
        <% } %>
    </ul>
</nav>
