<title>LuLiLucullus</title>
<base href="http://localhost:3000/"/>

<script src='/thirdparty/js/jquery-2.1.4.js'></script>
<script src='/thirdparty/js/bootstrap.js'></script>
<script src="/thirdparty/js/socket.io.js"></script>
<script src="/thirdparty/js/jquery.sweet-dropdown.js"></script>
<script type="text/javascript" src="/thirdparty/js/jssor.slider.mini.js"></script>
<script src="/js/SidebarMenu.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src='/js/Slider.js'></script>
<script src="js/ClientSocket.js"></script>
<script src="js/SidebarMenu.js"></script>

<link rel='stylesheet' href='/thirdparty/css/bootstrap.css'/>
<link rel="stylesheet" href="/thirdparty/css/jquery.sweet-dropdown.css"/>
<link rel="stylesheet" href='/css/slider.css'/>
<link rel="stylesheet" href="/css/app.css"/>