<nav class="navbar navbar-default nav-justified navbar-fixed-top" style="display:block">
    <div id="header" class="container-fluid">
        <ul class="nav nav-justified">
            <li>
                <button class="button-sidemenu" data-dropdown="#dropdown-standard">&#9776;</button>
            </li>
            <% if (!user) { %>
            <li style="width: 0.05%"><a href="/login">Log in</a></li>
            <% } else { %>
            <li id="user-name-header" style="width: 0.05%" data-dropdown="#dropdown-logout" value=""><%= user.displayName %></li>
            <% } %>
        </ul>
    </div>
</nav>
<div class="dropdown-menu dropdown-anchor-top-right dropdown-has-anchor" id="dropdown-logout">
    <ul>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
<div class="dropdown-menu dropdown-anchor-top-left dropdown-has-anchor" id="dropdown-standard">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">Catering</a></li>
        <li><a href="#">Rent a Cook</a></li>
        <li><a href="#">XXX</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">XXX</a></li>
        <li><a href="#">XXX</a></li>
        <li class="divider"></li>
        <li><a href="/recipes">Rezepte</a></li>
        <li><a href="#">Meine Rezepte</a></li>
        <% if (user) { %>
        <li><a href="/login/profile">Profilverwaltung</a></li>
        <% } %>
    </ul>
</div>
