<title>LuLiLucullus</title>
<script src='./js/jquery-2.1.4.js'></script>
<script src='./js/bootstrap.js'></script>
<scipt src="./js/socket.io.js"></scipt>
<link rel='stylesheet' href='./css/bootstrap.css'/>
