<title>Lulilucullus Gourmet</title>
<head>
    <base href="http://localhost:3000/"/>
    <% var env = process.env.NODE_ENV || 'development'; %>

    <% if(env === 'development'){ %>
    <script src="/thirdparty/dev-js/jquery-2.1.4.js"></script>
    <script src="/thirdparty/dev-js/bootstrap.js"></script>
    <script src="/thirdparty/dev-js/socket.io.js"></script>

    <script src="/thirdparty/dev-js/jquery.sweet-dropdown.js"></script>
    <script src="/thirdparty/dev-js/cookieconsent.js"></script>

    <!--<script src='https://www.google.com/recaptcha/api.js'></script>-->

    <script src="dev-js/sidebarMenu.js"></script>
    <script src="dev-js/pictureRef.js"></script>
    <script src="dev-js/interface.js"></script>

    <link rel="stylesheet" href="/thirdparty/dev-css/bootstrap.css"/>
    <link rel="stylesheet" href="/thirdparty/dev-css/jquery.sweet-dropdown.css"/>
    <link rel="stylesheet" href="/thirdparty/dev-css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/dev-css/app.css"/>

    <% } else if(env === 'production') { %>
    <script src="/dist/main.js"></script>
    <script src="dev-js/interface.js"></script>
    <script src="/thirdparty/dev-js/socket.io.js"></script>
    <link rel="stylesheet" href="/dist/main.css"/>
    <% } %>

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {
            "message": "This website uses cookies to ensure you get the best experience on our website",
            "dismiss": "Got it!",
            "learnMore": "More info",
            "link": null,
            "theme": "light-bottom"
        };
    </script>

</head>