<div id="header-wrapper">
    <nav class="navbar navbar-default nav-justified navbar-fixed-top">
        <div id="header" class="container-fluid">
            <ul class="nav nav-justified">
                <li>
                    <button class="button-sidemenu" data-dropdown="#dropdown-standard">&#9776;</button>
                </li>
                <% if (typeof user == 'undefined') { %>
                <li style="width: 0.05%"><a href="/login">Log in</a></li>
                <% } else { %>
                <li id="user-name-header" style="width: 0.05%" data-dropdown="#dropdown-logout"><%= user.displayName %></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="dropdown-menu dropdown-anchor-top-right dropdown-has-anchor" id="dropdown-logout">
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div class="dropdown-menu dropdown-anchor-top-left dropdown-has-anchor" id="dropdown-standard">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Kontakt</a></li>
            <li><a href="/catering">Catering</a></li>
            <li><a href="/rent-a-cook">Rent a Cook</a></li>
            <li><a href="/kochboxen">Kochboxen</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="#">Kochkurse</a></li>
            <li><a href="#">Gutscheine</a></li>
            <li class="divider"></li>
            <% if (locals.user) { %>
            <li><a href="/recipes">Rezepte</a></li>
            <% } else { %>
            <li><a href="/login">Rezepte</a></li>
            <% } %>
            <li><a href="#">Meine Rezepte</a></li>
            <% if (locals.user) { %>
                <% if (user.provider) {%>
                    <li><a href="/login/profile-external">Profilverwaltung</a></li>
                <% } else { %>
                    <li><a href="/login/profile">Profilverwaltung</a></li>
                <% } %>
            <% } %>
        </ul>
    </div>
</div>


