<title>LuLiLucullus</title>
<script src='./thirdparty/js/jquery-2.1.4.js'></script>
<script src='./thirdparty/js/bootstrap.js'></script>
<scipt src="./thirdparty/js/socket.io.js"></scipt>
<link rel='stylesheet' href='./thirdparty/css/bootstrap.css'/>
