<title>LuLiLucullus</title>
<script src='./thirdparty/js/jquery-2.1.4.js'></script>
<script src='./thirdparty/js/bootstrap.js'></script>
<script src="./thirdparty/js/socket.io.js"></script>
<link rel='stylesheet' href='./thirdparty/css/bootstrap.css'/>
<link rel="stylesheet" href="./thirdparty/css/jquery.sweet-dropdown.css" />
<script src="./thirdparty/js/jquery.sweet-dropdown.js"></script>