<nav class="navbar navbar-default lulilucullus-navbar">
    <ul class="navbar-left">
        <a class="dropdown-toggle" id="lulilucullusMainDropdownToggler">
            <i class="fa fa- fa-bars fa-fw"></i>
        </a>
        <div id="lulilucullusMainDropdown"
             class="lulilucullus-dropdown lulilucullusMain-dropdown lulilucullus-dropdown-left"
             style="position:absolute; overflow:hidden;">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Kontakt</a></li>
                <li><a href="/catering">Catering</a></li>
                <li><a href="/rent-a-cook">Rent a Cook</a></li>
                <li><a href="/kochboxen">Kochboxen</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="#">Kochkurse</a></li>
                <li><a href="#">Gutscheine</a></li>
                <li class="divider"></li>
                <% if (locals.user) { %>
                <li><a href="/recipes">Rezepte</a></li>
                <% } else { %>
                <li><a href="/login">Rezepte</a></li>
                <% } %>
                <li><a href="#">Meine Rezepte</a></li>
                <% if (locals.user) { %>
                <% if (user.provider) { %>
                <li><a href="/login/profile-external">Profilverwaltung</a></li>
                <% } else { %>
                <li><a href="/login/profile">Profilverwaltung</a></li>
                <% } %>
                <% } %>
            </ul>
        </div>
    </ul>
    <ul class="navbar-right ">
        <% if(locals.user) { %>
        <a class="dropdown-toggle lulilucullusDropdownToggler" id="lulilucullusDropdownToggler">
            <i class="fa fa- fa-user"> <span><%= user.displayName %></span></i>
        </a>
        <% } else { %>
        <a href="/login" class="dropdown-toggle lulilucullusDropdownToggler" id="lulilucullusDropdownToggler">
            <i class="fa fa- fa-sign-in"> Login</i>
        </a>
        <% } %>
        <% if (locals.user) { %>
        <div id="lulilucullusDropdown" class="lulilucullus-dropdown lulilucullus-dropdown-right"
             style="position:absolute; overflow:hidden;">
            <ul>
                <% if (user.provider) { %>
                <li><a href="/login/profile-external">Profilverwaltung</a></li>
                <% } else { %>
                <li><a href="/login/profile">Profilverwaltung</a></li>
                <% } %>

                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
            </ul>
        </div>
        <% } %>
    </ul>
</nav>
