<nav class="navbar navbar-default lulilucullus-navbar">
    <ul class="navbar-left">
        <a class="dropdown-toggle" id="lulilucullusMainDropdownToggler">
            <i class="fa fa- fa-bars fa-fw"></i>
        </a>
        <div id="lulilucullusMainDropdown"
             class="lulilucullus-dropdown lulilucullusMain-dropdown lulilucullus-dropdown-left"
             style="position:absolute; overflow:hidden;">
            <ul>
                <li><a href="/"><i class="fa fa- fa-home"> Home</i></a></li>
                <li><a href="/contact"><i class="fa fa-envelope"> Kontakt</i></a></li>
                <li><a href="/catering"><i class="fa fa-cutlery"> Catering</i></a></li>
                <li><a href="/rent-a-cook"><i class="fa fa-user"> Rent a Chef</i></a></li>
                <li><a href="/kochboxen"><i class="fa fa-gift" aria-hidden="true"></i> Kochboxen</a></li>
                <li><a href="/events"><i class="fa fa-calendar-o" aria-hidden="true"></i> Events</a></li></a></li>
                <li><a href="#">Kochkurse</a></li>
                <li><a href="#">Gutscheine</a></li>
                <li class="divider"></li>
                <% if (locals.user) { %>
                <li><a href="/recipes">Rezepte</a></li>
                <% } else { %>
                <li><a href="/login">Rezepte</a></li>
                <% } %>
                <li><a href="#">Meine Rezepte</a></li>
            </ul>
        </div>
    </ul>
    <ul class="navbar-right ">
        <% if(locals.user) { %>
        <a class="dropdown-toggle lulilucullusDropdownToggler" id="lulilucullusDropdownToggler">
            <span><%= user.displayName %></span>
        </a>
        <% } else { %>
        <a href="/login" class="dropdown-toggle lulilucullusDropdownToggler" id="lulilucullusDropdownToggler">
            <i class="fa fa- fa-sign-in"> Login</i>
        </a>
        <% } %>
        <% if (locals.user) { %>
        <div id="lulilucullusDropdown" class="lulilucullus-dropdown lulilucullus-dropdown-right"
             style="position:absolute; overflow:hidden;">
            <ul>
                <% if (user.provider) { %>
                <li><a href="/login/profile-external"><i class="fa fa-user fa-fw"></i>Profilverwaltung</a></li>
                <% } else { %>
                <li><a href="/login/profile"><i class="fa fa-user fa-fw"></i>Profilverwaltung</a></li>
                <% } %>

                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
            </ul>
        </div>
        <% } %>
    </ul>
</nav>
