<nav>
   <ul class="nav nav-tabs">
    <li role="presentation"><a href="./">Home</a></li>
    <li role="presentation"><a href="./contact">Contact</a></li>
    <li ><a href="./services">Services</a></li>
  </ul>
</nav>
