<div id="navbar" class="container">
    <nav id="menu" class="nav nav-inline hidden-sm-down">
        <ul class="nav nav-justified">
            <li class="nav-item active"><a href="/catering" class="nav-link">Catering</a></li>
            <li class="nav-item"><a href="/rent-a-cook" class="nav-link">Rent a Cook</a></li>
            <li class="nav-item"><a href="/kochboxen" class="nav-link">Kochboxen</a></li>
            <li class="nav-item"><a href="/" class="nav-link"><img class="nav-logo" src="/img/test_logo.jpg"><span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
            <li class="nav-item"><a href="/kochkurse" class="nav-link">Kochkurse</a></li>
            <li class="nav-item"><a href="/gutscheine" class="nav-link">Gutscheine</a></li>
        </ul>
    </nav>
</div>