<button class="sidebar-menu-button">&#9776;</button>
<div class="sidebar-menu">
    <ul>
        <a href="#">
            <li>LINK ONE</li>
        </a>
        <a href="#">
            <li>LINK TWO</li>
        </a>
        <a href="#">
            <li>LINK THREE</li>
        </a>
        <a href="#">
            <li>LINK FOUR</li>
        </a>
        <a href="#">
            <li>LINK FIVE</li>
        </a>
    </ul>
</div>