<!DOCTYPE html>
<html>
<% include partials/head %>

<% include partials/header %>
<% include partials/navbar %>

<body>
<div class="container">
    <% include partials/breadcrumb %>
    <h1>Catering</h1>
    <p>
        Bei LuLiLucullus Gourmet stehen Sie mit Ihren Wünschen im Mittelpunkt. In Verbindung mit unserer Erfahrung und der
        großen Leidenschaft für das, was wir tun, gelingt es uns, dass Catering, Service und Veranstaltungskonzept
        perfekt ineinander aufgehen.
    </p>

    <h2>MEDITERRANE BUFFETS - SÜDSONNE AUF IHREN TAG</h2>
    <img class="center-block" src="/img/pages/catering1.jpg">
    <p>
        Zutaten höchster Qualität aus sonnenverwöhnten Landstrichen sowie traditionelle Rezepte aus den ländlichen
        Regionen der Mittelmeerländer sind die besonderen Merkmale unserer Mediterranen Buffets. In diesen Speisen
        spüren Sie förmlich die warme Gastfreundschaft und die Liebe zu der eigenen Ernte – machen Sie Ihren Tisch zum
        mediterranen Kulinarium mit Freunden und Gleichgesinnten, genießen Sie original mediterranes Lebensgefühl!
    </p>

    <h2>SALAT BUFFETS - GARTENZAUBER</h2>
    <img class="center-block" src="/img/pages/catering2.jpg">
    <p>
        Knackig frisch, vitaminreich und belebend: Unsere Salatbuffets eignen sich bestens für ein leichtes Mittagessen,
        für die Pause auf dem Kongress, für Messebewirtung und für alle Gelegenheiten, wo die Speisenbewirtung leicht,
        vielfältig und gesund sein soll, und wo nach dem Essen frisch gestärkt wieder voller Konzentrations-Einsatz
        gefordert wird.
        Natürlich stellen wir auch Salatbuffets für abendliche Festlichkeiten, hier meist als Vorspeisen- oder
        Beilagen-Buffet.
    </p>

    <h2>TAPAS BUFFETS - DIE SPEZIALITÄTEN SPANIENS</h2>
    <img class="center-block" src="/img/pages/catering3.jpg">
    <p>
        ‚Tapas‘ bedeutet auf deutsch ‚Deckelchen‘. In den spanischen Bodegas war es früher Sitte, sein Glas Wein oder
        Sherry mit einen kleinen Deckel gegen die Fliegen abzudecken.

        Auf diesen Deckeln reichte der Wirt oft eine Kleinigkeit zu Knabbern, wie gesalzene Mandeln, einige Oliven und
        ähnliches. Diese kleinen Gerichte wurden mit der Zeit immer vielfältiger, so dass sich daraus eine Kultur von
        Speisen in kleinen Portionen entwickelte – die spanische Tapas-Küche war geboren.

        Auf unseren Tapas-Buffets arrangieren wir Ihre Auswahl an Tapas bunt gemischt auf Platten bzw. in
        Wärmebehältern. Ihre Gäste bedienen sich dann mit kleinen Tapas-Tellerchen am Buffet.
    </p>

    <h2>DESSERT-BUFFETS … UND DAS BESTE ZUM SCHLUSS</h2>
    <img class="center-block" src="/img/pages/catering4.jpg">
    <p>
        Süßes zum Dahinschmelzen, in kleinen Gläschen liebevoll angerichtet und dekoriert.

        Ein besonderes Highlight: Unsere Schokobrunnen mit dunkler oder weißer flüssiger Schokolade.

        Frisches Obst und exotische Früchte, in mundgerechten Happen als Spieß serviert, warten darauf, von Ihren Gästen
        selbst von feinster flüssiger Schokolade umhüllt zu werden.

        Ein kulinarischer Genuß der besonderen Art, den Ihre Gäste sicherlich noch lange in Erinnerung behalten werden!
    </p>
</div>
</body>
<% include partials/footer %>
</html>