<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <form action="/login/change-Password" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="userID" required>
            </div>
            <div class="form-group">
                <label>Bestätigungscode</label>
                <input type="text" class="form-control" name="authenticationCode" required>
            </div>
            <div class="form-group">
                <label>Neues Passwort</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <div class="form-group">
                <label>Passwort bestätigen</label>
                <input type="password" class="form-control" name="passwordConfirmation" required>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Passwort zurücksetzen</button>
        </form>
    </div>
</div>
</div>
</body>
<% include partials/footer %>
</html>
