<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><span class="fa fa-sign-in"></span> Passwort zur체cksetzen </h1>
        <% if (typeof message !== 'undefined') { %>
        <div class="alert alert-warning">
            <%= message %>
        </div>
        <% } %>
        <form action="/administration/changeEmployeePassword" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="userID" required>
            </div>
            <div class="form-group">
                <label>Best채tigungscode</label>
                <input type="text" class="form-control" name="authenticationCode" required>
            </div>
            <div class="form-group">
                <label>Neues Passwort</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <div class="form-group">
                <label>Passwort best채tigen</label>
                <input type="password" class="form-control" name="passwordConfirmation" required>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Passwort zur체cksetzen</button>
        </form>
    </div>
</div>
</div>
</body>
<% include partials/footer %>
</html>
