<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>

<% include partials/navbar %>
<body>
<div class="container">
    <% include partials/breadcrumb %>
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-envelope-o"></span> Kontakt</h1>
        <% if (typeof message !== 'undefined') { %>
        <div class="alert alert-success">
            <%= message %>
        </div>
        <% } %>
        <form id="contact" action="/contact" method="post">
            <div class="from-group">
                <div class="checkbox">
                    <label><input id="recipeSuggestion" name="recipeSuggestion" type="checkbox" value="">Rezeptvorschlag</label>
                </div>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" required>
            </div>
            <div class="form-group">
                <label>Nachricht</label>
                <textarea class="form-control" rows="4" name="contact_message" required></textarea>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Send</button>
        </form>
    </div>
</div>
</body>
<% include partials/footer %>
</html>

<script>
    /*$('#recipeSuggestion').on('click', function () {
        $('#contact').not('div:first').remove();

    });*/
</script>