<!-- @author
  Marius Schulze -->

<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <h1>LuLiLucullus GmbH - Kontakt</h1>
    <p>Bei Kontaktfragen, fragen Sie</p>
  </body>
</html>
