<!-- @author
  Marius Schulze -->

<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <script src="./thirdparty/js/socket.io.js"></script>
  </head>
  <body>
    <script src="./js/ClientSocket.js"></script>
    <% include ./partials/navbar %>
    <h1>LuLiLucullus GmbH - Kontakt</h1>
    <p>Bei Kontaktfragen, fragen Sie</p>
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
