<!DOCTYPE html>

<% include partials/head %>
<% include partials/header %>
<div class="container container-margin">
    <h1><%= message %></h1>
    <% if(error.status == 500) { %>
        <img src="https://http.cat/500">
    <% } else if(error.status == 404){ %>
        <img src="https://http.cat/404">
    <% } else if(error.status == 403){ %>
    <img src="https://http.cat/403">
    <% } else if(error.status == 405){ %>
    <img src="https://http.cat/405">
    <% } %>
    <pre><%= error.stack %></pre>
</div>
<% include partials/footer %>