<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>

<% include partials/navbar %>
<body>
<div class="container">
    <% include partials/breadcrumb %>
    <h1>Events</h1>
    <p>
        Sie planen eine Veranstaltung, aber Ihnen fehlen die Ressourcen? Wir greifen Ihnen gerne unter die Arme.

        Alles, was Sie für Ihre Veranstaltung an zusätzlichen Leistungen benötigen, bekommen Sie bei uns. Alles aus
        einer Hand – Einfach, unkompliziert und professionell.
    </p>

    <h3>PERSONAL</h3>
    <img src="/img/pages/events1.jpg">
    <p>
        Hinter all den Leistungen rund um das Event stecken Menschen, die vor allem eines gemeinsam haben: Leidenschaft
        für Events und Catering, Liebe zum Detail, und Freude an zufriedenen Gästen.

        Während der Ausbildung bringen wir unseren Mitarbeitern viel bei. Doch einige Dinge müssen die Mitarbeiter
        selbst mitbringen: Eine natürliche, herzliche Ausstrahlung, eine gute Auffassungsgabe und Aufmerksamkeit und
        Freude an Ihrer Arbeit.

        So schaffen wir die Grundlage dafür, dass sich jeder Gast Ihrer Veranstaltung von wahrer Gastfreundschaft
        umgeben fühlt.
    </p>

    <h3>KÜNSTLER & ENTERTAINMENT</h3>
    <img src="/img/pages/events2.jpg">
    <p>
        Durch unsere Kontakte in die Welt der Musiker und Künstler haben wir die Möglichkeit, wahre Highlights auf Ihrer
        Veranstaltung zu setzen, die unvergesslich bleiben.

        Vom Alleinunterhalter bis zur Stimmungsband, vom Pianospieler bis zur Samba-Truppe, musikalisch können wir viele
        Wünsche erfüllen.

        Auch Künstler und Artisten schaffen bezaubernde Momente auf Ihrem Event, seien es Feuer-Akrobaten,
        Showbarkeeper, Zauberer oder Tänzer.

        Besonders für Kinder haben wir Kinderschminkerinnen und Clowns im Programm.

        Sprechen Sie einfach mit uns!
    </p>

    <h3>SOUND & LICHT</h3>
    <img src="/img/pages/events3.jpg">
    <p>
        Um die passende Atmosphäre auf einem Event zu schaffen, ist die Ausleuchtung der Location das wichtigste Mittel.
        Unsere erfahrenen Profis aus der Technikabteilung erschaffen Beleuchtungsszenarien, setzen Akzente und führen
        Lichtregie.

        Natürlich sorgen wir auch für die entsprechende musikalische Untermalung. Wir stellen Ihnen ein auf Ihre
        Bedürfnisse angepasstes Sound-Paket zusammen. Unsere DJ‘s sprechen ihr musikalisches Programm mit Ihnen ab, und
        spielen gerne auch Ihre Lieblingssongs.

        Für echtes Entertainment ist eine Bühne unerlässlich. Wir bieten Ihnen Bühnenbauten bis 5 x 5m, mit der
        entsprechenden Licht-, Ton und Showtechnik fertig installiert. Sprechen Sie mit uns, wir machen Ihnen gerne ein
        unverbindliches Angebot!
    </p>

    <h3>MOBILIAR</h3>
    <img src="/img/pages/events4.jpg">
    <p>
        Ob Garderobenständer oder Stehtisch, ob Stuhl-Husse oder Bierbankgarnitur, unsere Logistik-Abteilung kümmert
        sich um das nötige Mobiliar.

        Vom modernen Lounge-Mobiliar hin bis zum rustikalen Leiterwagen, wir richten Ihr Event dem Thema entsprechend
        ein.

        In unserem gut gepflegten Bestand haben wir sicherlich auch das richtige Mobiliar für Ihren Rahmen!
    </p>
</div>
</body>
<% include partials/footer %>
</html>
