<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>

<% include partials/navbar %>
<body>
<div class="container">
    <% include partials/breadcrumb %>
    <h1>FAQ</h1>
    <p class="faq-question">
        Was ist LuLiLucullus?
    </p>
    <p class="faq-answer">
        Eine sehr gute Firma.
    </p>

    <p class="faq-question">
        Wer hat LLL gegründet?
    </p>
    <p class="faq-answer">
        Ich.
    </p>

    <p class="faq-question">
        Warum wurde LLL gegründet?
    </p>
    <p class="faq-answer">
        Darum.
    </p>

    <p class="faq-question">
        Wieviele Geschäftsstellen gibt es?
    </p>
    <p class="faq-answer">
        Keine.
    </p>

    <p class="faq-question">
        Wie verdient ihr Geld?
    </p>
    <p class="faq-answer">
        Gar nicht. Wir sind duale Studenten.
    </p>

</div>
</body>
<% include partials/footer %>
</html>
