<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>

<body>
<div class="container">
    <% include partials/breadcrumb %>
    <h1>Gutscheine</h1>

    <h3>Geschenkgutscheine für jeden Anlass</h3>
    <img class="center-block" src="/img/pages/gutscheine1.jpg">
    <h4>Gutscheine verschenken heißt Freude verschenken</h4>

    <p>Geschenkgutscheine sind oft die beste Wahl, wenn es ums Schenken geht. Sie zeigen dem Beschenkten, dass Sie sich
        Gedanken gemacht haben, und lassen ihm freie Wahl ganz nach seinem Geschmack. Ob Geburtstage, Weihnachten,
        Jubiläen,
        Hochzeiten oder andere feierliche Anlässe: Mit einem Kochgutschein liegen Sie goldrichtig für alle, die richtig
        schön kochen möchten. Unsere Auswahl ist groß: Wir bieten hochwertige Kochkurse, außergewöhnliche Gerichte,
        praktische Tipps und Tricks über die Zubereitung und vieles mehr rund ums Thema „Feinschmecker“. Die Empfänger
        der
        Geschenkgutscheine können sich aus unserem Sortiment das für sie Passende heraussuchen.</p>

    <h4>Geschenkgutscheine schnell und einfach bestellen</h4>

    <p>Gutscheine verschenken können Sie bei uns ganz einfach. Sie können einen OnlineGutschein kaufen und auf den
        üblichen
        Wegen bezahlen (PayPal, Kreditkarte, Überweisung – keine Nachnahme). Bei Zahlungen per PayPal oder Kreditkarte
        können Sie unmittelbar nach Bestätigung der Zahlung durch PayPal oder die Kreditkartengesellschaft den
        Geschenkgutschein ausfüllen, als PDF ausdrucken oder per E-Mail versenden. In der Artikelbeschreibung finden Sie
        eine Anleitung, in der die notwendigen Schritte erläutert sind. Der Online Gutschein ist in nur wenigen Minuten
        fertig und eignet sich somit als perfektes Last-minute-Geschenk. Unsere Geschenkgutscheine können Sie natürlich
        auch
        per Post bekommen. Sie kaufen den Gutschein und bezahlen auf normalem Weg (außer Nachnahme). Nach
        Zahlungseingang
        versenden wir den Gutschein per Post an die gewünschte Adresse.</p>
</div>

</body>
<% include partials/footer %>
</html>