<!-- @author
Marius Schulze -->
<!DOCTYPE html>
<html>
    <% include partials/head %>
    <script type="text/javascript" src="/thirdparty/js/jssor.slider.mini.js"></script>
    <link rel="stylesheet" href='/css/slider.css'/>
    <script src='/js/Slider.js'></script>
  <body>
    <% include partials/header %>
    <div>
        <% include partials/navbar %>
    </div>
    <% include partials/slider %>

    </div>
    <% include partials/footer %>
  </body>

</html>
