<!DOCTYPE html>
<html>
    <% include partials/head %>
  <body>
    <% include partials/header %>
    <div>
        <% include partials/navbar %>
    </div>
    <% include partials/slider %>

    </div>
    <% include partials/footer %>
  </body>

</html>
