<!DOCTYPE html>
<html>
<% include partials/head %>
<body>
<% include partials/header %>
<% include partials/navbar %>
<% include partials/slider %>
<% include partials/chat   %>
<% include partials/footer %>
</body>
</html>
