<!-- @author
Marius Schulze -->
<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <div>
        <% include partials/navbar %>
    </div>
    <% include partials/footer %>
    <% include partials/slider %>

    </div>
  </body>
</html>
