<!-- @author
  Marius Schulze -->
<!DOCTYPE html>
<html>
  <head><!--
    <script type="text/javascript" src="C:\Users\finge\Documents\GitHub\LuLiLucullusNodeJs\public\js\ejs_production.js"></script>
    <script type="text/javascript">var html = new EJS({url: 'index.ejs'}).render(data);</script>
  -->
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <h1>LuLiLucullus</h1>
    <p>Herzlich willkommen bei LuLiLucullus</p>
  </body>
</html>
