<!-- @author
  Marius Schulze -->
<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <h1>LuLiLucullus</h1>
    <p>Herzlich willkommen bei LuLiLucullus</p>
  </body>
</html>
