<!-- @author
Marius Schulze -->
<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <div>
        <% include partials/navbar %>
    </div>
    <% include partials/footer %>
    <script src="js/ClientSocket.js"></script>
    <script src="js/SidebarMenu.js"></script>
    <% include partials/slider %>
    <link rel="stylesheet" href="./css/app.css"/>
    </div>
  </body>
</html>
