<!-- @author
Marius Schulze -->
<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div>
      <h1>LuLiLucullus</h1>
      <div>Herzlich willkommen bei LuLiLucullus</div>
    </div>
    <% include ./partials/footer %>
    <script src="./js/ClientSocket.js"></script>
    <script src="./js/SidebarMenu.js"></script>
    <% include ./partials/slider %>
    <link rel="stylesheet" href="./css/app.css"/>
    </div>
  </body>
</html>
