<!DOCTYPE html>
<html>
    <% include partials/head %>
    <script type="text/javascript">
        $(document).ready(function(){
            $.cookieBar({
                forceShow: true
            });
        });
    </script>
  <body>
    <% include partials/header %>
    <div>
        <% include partials/navbar %>
    </div>
    <% include partials/slider %>

    </div>
    <% include partials/footer %>
    <script src="/thirdparty/js/jquery.cookiebar.js"></script>
    <link rel="stylesheet" href="/thirdparty/css/jquery.cookiebar.css">
  </body>
</html>
