<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>
<body>
<div class="container">
    <% include partials/breadcrumb %>
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-user"></span> Koch mieten</h1>
        <% if (typeof message !== 'undefined') { %>
        <div class="alert alert-success">
            <%= message %>
        </div>
        <% } %>
        <form action="/koch-mieten" method="post">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" required>
            </div>
            <div class="form-group">
                <label for="lieferadresse" class="control-label">Veranstaltungsadresse</label>
                <input type="text" class="form-control" id="street" name="street" placeholder="Stra&szlig;e + HNr"
                       value="" required>
                <input type="text" class="form-control" id="plz" name="plz" placeholder="PLZ" value="" required>
                <input type="text" class="form-control" id="ort" name="location" placeholder="Wohnort" value=""
                       required>
            </div>
            <div class="form-group">
                <label>Art der Veranstaltung</label>
                <select class="form-control" id="bookingTypeSelection">
                    <script>loadBookingTypes();</script>
                </select>
            </div>
            <div class="form-group" id="rentachefDates">
                <label>Datum</label>
                <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="input-sm form-control" name="start" />
                    <span class="input-group-addon">bis</span>
                    <input type="text" class="input-sm form-control" name="end" />
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Bestellung aufgeben</button>
        </form>
    </div>
</div>

<script>
$('#rentachefDates .input-daterange').datepicker({
    startDate: 'today',
    format: 'dd. MM yyyy',
    clearBtn: true,
    keepEmptyValues: true
});

$(function () {
    $('#recipeSelection').change(function () {
        $('#recipePrice').val($(this).val());
        $('#recipeName').val($('#recipeSelection').find('option:selected').text());
    }).change();

    $('#bookingID').val(Util.generateUUID());
});
</script>

</body>
<% include partials/footer %>
</html>