<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>

<body>
<div class="container">
    <% include partials/breadcrumb %>
    <h1>Kochkurse</h1>

    <h3>Kochkurs Mediterran</h3>
    <img class="center-block" src="/img/pages/kochkurse1.jpg">
    <p>Leicht, gesund und richtig lecker – Die mediterrane Küche ist einfach zum Verlieben.

        Liebe geht bekanntlich durch den Magen. Und dank Vielfalt und Reichtum der mediterranen Rezepte können sich Ihre
        Gäste ab sofort immer wieder in Ihre Kochkünste verlieben. Neben den traditionellen Gaumenfreunden erlernen Sie
        auch einige eindrucksvolle Spezialitäten. Von der Auswahl und Vorbereitung der Zutaten bis hin zur Zubereitung
        und Präsentation der Gerichte werden Ihnen viele Tricks und Küchen-Kniffe verraten. Zum krönenden Abschluss
        probieren Sie Ihre selbstgemachten Köstlichkeiten in beschwingter Runde. Lassen Sie sich von der mediterranen
        Küche verführen und kochen Sie ab sofort vor Leidenschaft.

        Dauer des Erlebnisses

        Je nach Standort zwischen 3 und 5 Stunden

        Teilnehmer am Kochkurs Mediterran

        Den Kurs bestreiten Sie in einer fröhlichen Kochrunde zusammen mit weiteren Personen. Der Gutschein gilt für 1
        Person.

        An den Standorten Lüdenscheid und Iserlohn gilt der Gutschein für 2 Personen.
    </p>
    <h4>Leistung</h4>
    <ul>
        <li> Einführung in die mediterrane Küche</li>

        <li> Frische, ausgewählte Zutaten</li>

        <li> Kochutensilien und -geräte</li>

        <li> Anleitung bei der Zubereitung</li>

        <li>Zubereitung eines mehrgängigen Menüs</li>

        <li>Gemeinsames Essen</li>

        <li>Die Getränke sind inklusive</li>
    </ul>

    <h3>Tapas Kochkurs</h3>
    <img class="center-block" src="/img/pages/kochkurse2.jpg">
    <p>Klein und fein - so soll das sein!

        Ihre neue Spezialität sind schmackhafte, spanische Tapas und Mezze, die köstlichen Leckerbissen aus dem Orient.
        Im
        Kochkurs Tapas beginnt das Vergnügen schon bei der Zubereitung. Denn während Sie in der Küche das bunte
        Vorspeisenmenü zaubern, lassen Sie sich schon die ersten Kreationen und den süffigen Rotwein schmecken. Dabei
        verrät
        Ihnen Ihre Köchin viele Tricks und gibt praktische Tipps. Anschließend probieren Sie die kleinen Delikatessen in
        geselliger Runde und lassen den Abend mit einem Digestif oder einem Espresso ausklingen. Entdecken Sie die
        verblüffende Reichhaltigkeit von Tapas und Mezze und freuen Sie sich auf zahlreiche neue Gaumenfreuden!

    </p>
    <h4>Leistung</h4>
    <ul>
        <li> 4 bis 5-stündiger Mezze & Tapas Kochkurs</li>

        <li> Einführung zu Rezepten & Zutaten</li>

        <li> Infos zu Kultur & Gebräuchen</li>

        <li> Zubereitung diverser Tapas und Mezze</li>

        <li> Bereitstellung aller benötigten Zutaten und Utensilien</li>

        <li> Professionelle Betreuung</li>

        <li> Aperitif, Wein, Säfte, Wasser, Kaffee und Espresso</li>

        <li> Gemeinsame Verkostung</li>

        <li> Rezeptmappe zum Mitnehmen</li>
    </ul>

</div>

</body>
<% include partials/footer %>
</html>