<!DOCTYPE html>
<html>
<% include partials/head %>

<div id="header-wrapper">
    <nav class="navbar navbar-default nav-justified navbar-fixed-top">
        <div id="header" class="container-fluid">
            <ul class="nav nav-justified">
                <li>
                    <button class="button-sidemenu" data-dropdown="#dropdown-standard">&#9776;</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="dropdown-menu dropdown-anchor-top-left dropdown-has-anchor" id="dropdown-standard">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="#">Catering</a></li>
            <li><a href="#">Rent a Cook</a></li>
            <li><a href="#">XXX</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">XXX</a></li>
            <li><a href="#">XXX</a></li>
            <li class="divider"></li>
            <li><a href="/recipes">Rezepte</a></li>
            <li><a href="#">Meine Rezepte</a></li>
        </ul>
    </div>
</div>
<% include partials/navbar %>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LdJByQTAAAAANS8XkjlNFggN77IHrJnMiKX6bdB"></div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <div id="login-img-buttons">
                <a href="/login/facebook"><img id="login-img" src="/img/login/facebook.png"></a>
                <a href="/login/google"><img id="login-img" src="/img/login/googleplus.png"></a>
                <a href="/login/twitter"><img id="login-img" src="/img/login/twitter.png"></a>
                <a href="/login/xing"><img id="login-img" src="/img/login/xing.png"></a>
            </div>
        </form>

        <hr>

        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>

</div>
</div>
</body>
<% include partials/footer %>
</html>