<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>
<body>
<div class="container">
    <% include partials/breadcrumb %>
    <div id="myRecipeList">
        <script>
            loadMyRecipes();
        </script>
    </div>
</div>
</body>
<% include partials/footer %>
</html>
