<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>
<body>
<div class="container">
    <% include partials/breadcrumb %>
    <div id="myRecipeList" class="container-margin">
        <script>
            loadMyRecipes("<%= locals.user.userID %>");
        </script>
    </div>
</div>
</body>
<% include partials/footer %>
</html>
