<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/adminHeader %>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Bestellungen</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <% var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];%>
                    <% var currentMonth = monthNames[new Date().getMonth()]; %>
                   Bestellübersicht <%= currentMonth %>
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <thead>
                            <tr id="ordersTableHead">
                                <th>Kunde</th>
                                <th>Artikel</th>
                                <th>Menge</th>
                                <th>Auftragsdatum</th>
                                <th>Freigeben</th>
                            </tr>
                            </thead>
                            <tbody id="orderOverview">
                            <script>initOrdersOverview()</script>
                            <tr class="odd gradeX">
                                <td>Kunde 1</td>
                                <td>Rezept 1</td>
                                <td>1</td>
                                <td class="center">16. August 2016</td>
                                <td class="center"><a class="ordersOverviewRelease" href="#"><span class="glyphicon glyphicon-ok"></span></a></td>
                            </tr>
                            <tr class="even gradeC">
                                <td>Kunde 2</td>
                                <td>Rezept 2</td>
                                <td>2</td>
                                <td class="center">17. August 2016</td>
                                <td class="center"><a class="ordersOverviewRelease" href="#"><span class="glyphicon glyphicon-ok"></span></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

<script>
    $('.ordersOverviewRelease').on('click', function (e) {
        e.preventDefault();
        var singleOrder = $(this).parents("tr:first");
        var fields = $('#ordersTableHead');
        var array = [];
        console.log(fields[0].innerText);
        $.each(singleOrder[0].cells, function (i) {
            array.push(singleOrder[0].cells[i].innerText);
        });
        insertIntoOrdersTable(details);
    });
</script>
</body>
<% include partials/footer %>
</html>