<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>
<body>
<div class="container container-margin">

    <div class="row" style="text-align: center">
        <section class="col-sm-6">
            <div class="btn-group">
                <button id="dropdown-recipe-categorie" class="btn text-uppercase text-spat"
                        data-dropdown="#dropdown-recipe-categories" aria-haspopup="true" aria-expanded="false">
                    Direkt zur Kategorie
                </button>

            </div>
            <div id="dropdown-recipe-categories" class="dropdown-menu dropdown-anchor-top-left dropdown-has-anchor">
                <ul>
                    <li><a class="dropdown-item" href="#">Vorspeisen</a></li>
                    <li><a class="dropdown-item" href="#">Zwischengerichte</a></li>
                    <li><a class="dropdown-item" href="#">Hauptspeisen</a></li>
                    <li><a class="dropdown-item" href="#">Nachspeisen</a></li>
                </ul>
            </div>
        </section>
        <section class="col-sm-6">
            <div class="btn-group">
                <button id="recipe-filter" class="btn text-uppercase text-spat">
                    Filter
                </button>
            </div>
        </section>
    </div>

    <div id="filter-bar">
      <div id="inputFields" style="display:inline-block">
        <input type="checkbox" id="check_vegetarian"/><label for="check_vegetarian">&nbsp;Vegetarisch</label><br />
        <input type="checkbox" id="check_allergy_nut"/><label for="check_allergy_nut">&nbsp;Nussallergie</label><br />
        <input type="checkbox" id="check_allergy_nut"/><label for="check_lactose_intolerance">&nbsp;Laktoseintoleranz</label>
      </div>
      <div id="filterSubmitBox" style="display:inline-block">
        <button id="filterSubmitBtn" class="btn text-uppercase text-spat" onclick="loadFilteredRecipes()">Filtern!</button>
      </div>
    </div>

    <div class="row container">
        <div class="col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1 col-xl-12 col-xl-offset-0">
            <ul class="recipes-overview recipes">
                <script>
                    loadRecipesOverview();
                </script>
            </ul>
        </div>
    </div>
</div>
</body>
<% include partials/footer %>
</html>
