<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>
<div id="hiddenLogo" hidden><img src="/img/logo.svg"></div>
<body>
<div class="container">
    <% include partials/breadcrumb %>
    <div id="recipe-details-page-wrapper">
    </div>
    <div class="col-md-6">
        <div id="recipe-image-wrapper">
        </div>
    </div>
    <div class="recipe-container-row row col-md-5">
        <div>
            <p class="h3 recipe-ingredients-headline">Zutaten</p>
            <div id="ingredients-wrapper" class="recipe-ingredients-list-wrapper recipe-ingredients">
                <script>
                    /**
                     * JUST A FREAKIN ANNOYING SHITTY WORKAROUND!!!
                     */
                    loadRecipeFromId(parseInt(document.URL.split('=')[1]), parseInt(document.URL.split('=')[2]));
                </script>
            </div>
        </div>
        <div id="portionsWrapper">
        </div>
    </div>
    <div id="recipe-preparation" class="col-md-12">
    </div>
    <div id="copyrightPrint">
        © Lulilucullus GmbH - nicht für die kommerzielle Nutzung bestimmt!
    </div>
</div>
<!-- <script src="/thirdparty/dev-js/rating.js"></script>
<script>
    var el = document.querySelector('#el');
    var currentRating = 0; //TODO: get from database
    var maxRating = 5;

    var callback = function (rating) {
        recipeRating.getRating();
    };

    // rating instance
    var recipeRating = rating(el, currentRating, maxRating, callback);
</script>
-->
</body>
<% include partials/footer %>
</html>
