<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>
<body>
<div class="container">
    <% include partials/breadcrumb %>
    <div id="recipe-details-page-wrapper">
    </div>
    <div class="col-md-6">
        <div id="recipe-image-wrapper">
        </div>
    </div>
    <div class="recipe-container-row row col-md-6">
        <div>
            <p class="h3 recipe-ingredients-headline">Zutaten</p>
            <div id="ingredients-wrapper" class="recipe-ingredients-list-wrapper recipe-ingredients">
                <script>
                    /**
                     * JUST A FREAKIN ANNOYING SHITTY WORKAROUND!!!
                     */
                    loadRecipeFromId(parseInt(document.URL.split('=')[1]), parseInt(document.URL.split('=')[2])); //TODO use right id from recipe
                </script>
            </div>
        </div>
        <div>
            <form id="calculateIngredientsForm">
                <label for="portions" class="col-sm-2 control-label">Portionen</label>
                <input id="ingredientsAmount" class="form-control" name="portions" value="1"></input>
                <button id="submit" name="submit" type="submit">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
            </form>
        </div>
    </div>
    <div id="recipe-preparation" class="col-md-12">
    </div>
</div>
<!-- <script src="/thirdparty/dev-js/rating.js"></script>
<script>
    var el = document.querySelector('#el');
    var currentRating = 0; //TODO: get from database
    var maxRating = 5;

    var callback = function (rating) {
        recipeRating.getRating();
    };

    // rating instance
    var recipeRating = rating(el, currentRating, maxRating, callback);
</script>
-->
<div id="copyrightPrint">
    © Lulilucullus GmbH - ausschließlich für die nicht-kommerzielle Nutzung bestimmt!
</div>
</body>
<% include partials/footer %>
</html>
