<% include partials/head %>
<% include partials/header %>

<div class="wrapper">
    <div class="recipe-box">
        <img id="recipes-recipe-img" src="img/test_logo.jpg">
        <div id="recipes-recipe-short-description">
            <p>Test descriptionTest descriptionTest descriptionTest descriptionTest descriptionTest descriptionTest
                descriptionTest descriptionTest descriptionTest descriptionTest descriptionTest description</p>
        </div>
        <input id="recipes-recipe-button" class="btn btn-primary" type="button" href="/recipe/{recipeID}" value="weitere Informationen">
    </div>
</div>