<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>
<body>
  <script>
  var socket = io.connect();
  socket.emit('loadRecipesOverview');
  socket.on('loadedRecipesOverview', function (overview) {
  alert(overview);
    //Overivew data from db should be json array
  })
  </script>
<div class="container container-margin">

    <div class="row" style="text-align: center">
        <section class="col-sm-12">
            <div class="btn-group">
                <button id="dropdown-recipe-categorie" class="btn text-uppercase text-spat"
                        data-dropdown="#dropdown-recipe-categories"
                        aria-haspopup="true" aria-expanded="false">
                    Direkt zur Kategorie
                </button>

            </div>
            <div id="dropdown-recipe-categories" class="dropdown-menu dropdown-anchor-top-left dropdown-has-anchor">
                <ul>
                    <li><a class="dropdown-item" href="#">Vorspeisen</a></li>
                    <li><a class="dropdown-item" href="#">Zwischengerichte</a></li>
                    <li><a class="dropdown-item" href="#">Hauptspeisen</a></li>
                    <li><a class="dropdown-item" href="#">Nachspeisen</a></li>
                </ul>
            </div>
        </section>
    </div>

    <div class="row container">
        <div class="col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1 col-xl-12 col-xl-offset-0">
            <ul class="recipes-overview recipes">

                <li class="recipes-overview-item">
                    <a href="#" class="link-container"><span></span></a>
                    <img src="img/test_logo.jpg" alt="Rezept 1">
                    <h3 class="recipes-overview-headline text-uppercase">Rezept 1</h3>
                    <p class="recipes-overview-short-description"> Carrot cake jelly-o cake muffin lollipop candy canespie cheesecake.</p>
                    <p>
                        <a href="#" class="btn btn-primary btn-sm">Weitere Informationen ...</a>
                    </p>
                </li>
                <li class="recipes-overview-item">
                    <a href="#" class="link-container"><span></span></a>
                    <img src="img/test_logo.jpg" alt="Rezept 2">
                    <h3 class="recipes-overview-headline text-uppercase">Rezept 2</h3>
                    <p class="recipes-overview-short-description"> Carrot cake jelly-o cake muffin lollipop candy canespie cheesecake.</p>
                    <p>
                        <a href="#" class="btn btn-primary btn-sm">Weitere Informationen ...</a>
                    </p>
                </li>
                <li class="recipes-overview-item">
                    <a href="#" class="link-container"><span></span></a>
                    <img src="img/test_logo.jpg" alt="Rezept 3">
                    <h3 class="recipes-overview-headline text-uppercase">Rezept 3</h3>
                    <p class="recipes-overview-short-description"> Carrot cake jelly-o cake muffin lollipop candy canespie cheesecake.</p>
                    <p>
                        <a href="#" class="btn btn-primary btn-sm">Weitere Informationen ...</a>
                    </p>
                </li>
                <li class="recipes-overview-item">
                    <a href="#" class="link-container"><span></span></a>
                    <img src="img/test_logo.jpg" alt="Rezept 4">
                    <h3 class="recipes-overview-headline text-uppercase">Rezept 4</h3>
                    <p class="recipes-overview-short-description"> Carrot cake jelly-o cake muffin lollipop candy canespie cheesecake.</p>
                    <p>
                        <a href="#" class="btn btn-primary btn-sm">Weitere Informationen ...</a>
                    </p>
                </li>
                <li class="recipes-overview-item">
                    <a href="#" class="link-container"><span></span></a>
                    <img src="img/test_logo.jpg" alt="Rezept 5">
                    <h3 class="recipes-overview-headline text-uppercase">Rezept 5</h3>
                    <p class="recipes-overview-short-description"> Carrot cake jelly-o cake muffin lollipop candy canespie cheesecake.</p>
                    <p>
                        <a href="#" class="btn btn-primary btn-sm">Weitere Informationen ...</a>
                    </p>
                </li>
                <li class="recipes-overview-item">
                    <a href="#" class="link-container"><span></span></a>
                    <img src="img/test_logo.jpg" alt="Rezept 6">
                    <h3 class="recipes-overview-headline text-uppercase">Rezept 6</h3>
                    <p class="recipes-overview-short-description"> Carrot cake jelly-o cake muffin lollipop candy canespie cheesecake.</p>
                    <p>
                        <a href="#" class="btn btn-primary btn-sm">Weitere Informationen ...</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<% include partials/footer %>
</html>
