<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>
<body>
<div class="container container-margin">
    <% include partials/breadcrumb %>
    <div class="row">
        <section class="col-sm-6">
            <div class="btn-group">
                <button id="recipe-filter" class="btn btn-sm text-uppercase text-spat">
                    Filter
                </button>
            </div>
        </section>
    </div>

    <div id="filter-bar" class="container">
        <div id="inputFields" class="row">
            <script type="text/javascript">
                loadFilterOptions();
            </script>
        </div>
        <div id="filterSubmitBox">
            <button id="filterSubmitBtn" class="btn btn-sm text-uppercase text-spat">
                Rezepte filtern
            </button>
        </div>
    </div>

    <div class="row" id="recipeContainer">
        <script>
            loadRecipesOverview();
        </script>
    </div>
</div>
</body>
<% include partials/footer %>
</html>
