<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>
<body>
<div class="container container-margin">
    <div class="row" style="text-align: center">
        <section class="col-sm-12">
            <div class="btn-group">
                <button id="dropdown-recipe-categorie" class="btn text-uppercase text-spat"
                        data-dropdown="#dropdown-recipe-categories"
                        aria-haspopup="true" aria-expanded="false">
                    Direkt zur Kategorie
                </button>

            </div>
            <div id="dropdown-recipe-categories" class="dropdown-menu dropdown-anchor-top-left dropdown-has-anchor">
                <ul>
                    <li><a class="dropdown-item" href="#">Vorspeisen</a></li>
                    <li><a class="dropdown-item" href="#">Zwischengerichte</a></li>
                    <li><a class="dropdown-item" href="#">Hauptspeisen</a></li>
                    <li><a class="dropdown-item" href="#">Nachspeisen</a></li>
                </ul>
            </div>
        </section>
    </div>

    <div class="row">
        <div>
            <ul>
                <div class="recipe-box">
                    <img id="recipes-recipe-img" src="img/test_logo.jpg">
                    <div id="recipes-recipe-short-description">
                        <p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth
                            tatsoi
                            tomatillo melon azuki bean garlic.</p>
                    </div>
                    <input id="recipes-recipe-button" class="btn btn-primary" type="button" href="/recipe/{recipeID}"
                           value="weitere Informationen">
                </div>
                <div class="recipe-box">
                    <img id="recipes-recipe-img" src="img/test_logo.jpg">
                    <div id="recipes-recipe-short-description">
                        <p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth
                            tatsoi
                            tomatillo melon azuki bean garlic.</p>
                    </div>
                    <input id="recipes-recipe-button" class="btn btn-primary" type="button" href="/recipe/{recipeID}"
                           value="weitere Informationen">
                </div>
                <div class="recipe-box">
                    <img id="recipes-recipe-img" src="img/test_logo.jpg">
                    <div id="recipes-recipe-short-description">
                        <p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth
                            tatsoi
                            tomatillo melon azuki bean garlic.</p>
                    </div>
                    <input id="recipes-recipe-button" class="btn btn-primary" type="button" href="/recipe/{recipeID}"
                           value="weitere Informationen">
                </div>
                <div class="recipe-box">
                    <img id="recipes-recipe-img" src="img/test_logo.jpg">
                    <div id="recipes-recipe-short-description">
                        <p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth
                            tatsoi
                            tomatillo melon azuki bean garlic.</p>
                    </div>
                    <input id="recipes-recipe-button" class="btn btn-primary" type="button" href="/recipe/{recipeID}"
                           value="weitere Informationen">
                </div>
            </ul>
        </div>
    </div>
</div>
</body>
<% include partials/footer %>
</html>