<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>
<body>
<div class="container">
    <div class="recipe-container-row row">
        <div class="col-md-5">
            <p class="h3">Rezeptname</p>
            <div class="recipe-image-wrapper col-md-6">
                <img class="img-responsive img-rounded" src="http://placehold.it/500x250">
            </div>
        </div>
        <div class="col-md-1">
            <p class="h3"> Print</p>
        </div>
        <div class="col-md-2">
            <p class="h3">Bewertung</p>
        </div>
        <div class="col-md-2">
            <ul id="el" class="c-rating">
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="h3 recipe-instructions">Zubereitung</p>
            <p class="recipe-instructions">
                Lorem ipsum dolor sit ...
            </p>
        </div>
    </div>
</div>
<script src="/thirdparty/dev-js/rating.js"></script>
<script>
    var el = document.querySelector('#el');
    var currentRating = 0;
    var maxRating = 5;

    var callback = function (rating) {

        recipeRating.getRating();
        console.log(rating);
    };

    // rating instance
    var recipeRating = rating(el, currentRating, maxRating, callback);
</script>

</body>
</html>