<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/adminheader %>
<body>
<div class="container">
    <% include partials/breadcrumb %>
    <button class="btn btn-sm" style="float: right" onclick="loadRequests();">Aktualisieren</button>
    <div id="requestList" class="container-margin">
        <script>
            loadRequests();
        </script>
    </div>
</div>
</body>
<% include partials/footer %>
</html>
