<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>
<body>
<div class="container">
    <% include partials/breadcrumb %>
    <button onclick="loadRequests()">Aktualisieren</button>
    <div id="requestList" class="container-margin">
        <script>
            loadRequests();
        </script>
    </div>
</div>
</body>
<% include partials/footer %>
</html>
