<!DOCTYPE html>
<html>
<% include partials/head %>

<div id="header-wrapper">
    <nav class="navbar navbar-default nav-justified navbar-fixed-top">
        <div id="header" class="container-fluid">
            <ul class="nav nav-justified">
                <li>
                    <button class="button-sidemenu" data-dropdown="#dropdown-standard">&#9776;</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="dropdown-menu dropdown-anchor-top-left dropdown-has-anchor" id="dropdown-standard">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="#">Catering</a></li>
            <li><a href="#">Rent a Cook</a></li>
            <li><a href="#">XXX</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">XXX</a></li>
            <li><a href="#">XXX</a></li>
            <li class="divider"></li>
            <li><a href="/recipes">Rezepte</a></li>
            <li><a href="#">Meine Rezepte</a></li>
        </ul>
    </div>
</div>
<% include partials/navbar %>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>
        <% if (typeof message !== 'undefined') { %>
        <div class="alert alert-warning">
            <%= message %>
        </div>
        <% } %>
        <form action="/" method="post">
            <button type="submit" class="btn btn-sm btn-primary">Passwort zurücksetzen</button>
        </form>
        <hr>
        <p>Brauchen Sie einen Account? <a href="/signup">Signup</a></p>

    </div>

</div>
</div>
</body>
<% include partials/footer %>
</html>
