<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>
<% include partials/navbar %>
<body>
<div class="container">
    <% include partials/breadcrumb %>
    <h1>LuLiLucullus GmbH - Kontakt</h1>
    <p>Bei Service Anfragen, fragen Sie</p>
</div>

<% include partials/footer %>
</body>
</html>
