<!-- @author
  Marius Schulze -->

<!DOCTYPE html>
<html>
    <% include partials/head %>
  <body>
    <% include partials/header %>
    <h1>LuLiLucullus GmbH - Kontakt</h1>
    <p>Bei Service Anfragen, fragen Sie</p>
      <% include partials/footer %>
  </body>
</html>
