<!-- @author
  Marius Schulze -->

<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <h1>LuLiLucullus GmbH - Kontakt</h1>
    <p>Bei Service Anfragen, fragen Sie</p>
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
