<!DOCTYPE html>
<html>
<% include partials/head %>

<div id="header-wrapper">
    <nav class="navbar navbar-default nav-justified navbar-fixed-top">
        <div id="header" class="container-fluid">
            <ul class="nav nav-justified">
                <li>
                    <button class="button-sidemenu" data-dropdown="#dropdown-standard">&#9776;</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="dropdown-menu dropdown-anchor-top-left dropdown-has-anchor" id="dropdown-standard">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="#">Catering</a></li>
            <li><a href="#">Rent a Cook</a></li>
            <li><a href="#">XXX</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">XXX</a></li>
            <li><a href="#">XXX</a></li>
            <li class="divider"></li>
            <li><a href="/recipes">Rezepte</a></li>
            <li><a href="#">Meine Rezepte</a></li>
        </ul>
    </div>
</div>
<% include partials/navbar %>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup</h1>
        <% if (typeof message !== 'undefined') { %>
        <div class="alert alert-warning">
            <%= message %>
        </div>
        <% } %>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Name" required
                       pattern="^[a-zA-Z]+$">
            </div>
            <div class="form-group">
                <label for="vorname" class="control-label">Vorname</label>
                <input type="text" class="form-control" name="vorname" placeholder="Vorname" required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label>Telefon</label>
                <input type="text" class="form-control" name="tel" placeholder="Telefon"
                       pattern="([0|\+[0-9]{1,5})?([0-9]{9})$">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" required
                       pattern="?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
            </div>
            <div class="form-group">
                <label for="lieferadresse" class="control-label">Lieferadresse</label>
                <input type="text" class="form-control" id="street" name="street" placeholder="Stra&szlig;e + HNr"
                       value="" required>
                <input type="text" class="form-control" id="plz" name="plz" placeholder="PLZ" value="" required>
                <input type="text" class="form-control" id="ort" name="ort" placeholder="Wohnort" value="" required>
            </div>
            <div class="form-group">
                <label for="rechnungsadresse" class="control-label">Rechnungsadresse</label>
                <input type="text" class="form-control" id="rech_street" name="rech_street"
                       placeholder="Stra&szlig;e + HNr"
                       value="">
                <input type="text" class="form-control" id="rech_plz" name="rech_plz" placeholder="PLZ" value="">
                <input type="text" class="form-control" id="rech_ort" name="rech_ort" placeholder="Wohnort" value="">
            </div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LdJByQTAAAAANS8XkjlNFggN77IHrJnMiKX6bdB"></div>
            </div>
            <button type="submit" class="btn btn-primary">Signup</button>
        </form>

        <hr>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>

</div>
</body>
</html>
