<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/adminHeader %>

<body>
<div class="container">
    <% include partials/breadcrumb %>
    <div>
        <h1><span class="fa fa-database"></span> Rezept hochladen</h1>
        <% if (typeof message !== 'undefined') { %>
        <div class="alert alert-success">
            <%= message %>
        </div>
        <% } %>
        <form action="/administration/upload" method="post" id="upload-form" enctype="application/json">
            <div class="form-group">
                <label>Rezeptname</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>Rezeptbild</label>
                <input id="fileinput" type="file" name="image" required>
            </div>

            <div class="form-group">
                <label>Menüart</label>
                <select class="form-control" id="courseSelection" name="course" required>
                    <option val="" disabled selected>Menüart wählen</option>
                    <script>loadCourses();</script>
                </select>
            </div>
            <div class="form-group">
                <label>Region</label>
                <select class="form-control" id="styleSelection" name="style" required>
                    <option val="" disabled selected>Herkunft wählen</option>
                    <script>loadStyles();</script>
                </select>
            </div>
            <div class="form-group row">
                <label for="ingredients" class="col-md-1 control-label ingredients-label">Zutaten</label>
                <div class="col-md-3">
                    <input id="ingredients" type="text" class="form-control" name="ingredients" required>
                </div>
                <label for="ingredientAmount" class="col-md-1 control-label">Menge</label>
                <div class="col-md-3">
                    <input type="number" class="form-control" name="amount" id="amount" min="1" required>
                </div>
                <label for="unitSelection" class="col-md-1 control-label">Maßeinheit</label>
                <div class="col-md-3">
                    <input id="unit" type="text" class="form-control" name="unit" required>
                </div>
            </div>
            <div id="additionalIngredients">
            </div>
            <div class="from-group">
                <button id="addInputs"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <div class="form-group">
                <label>Preis p. Portion (in €)</label>
                <input id="price" type="text" class="form-control" name="price" required>
            </div>
            <div id="hiddenInputs" class="form-group">
                <input type="hidden" id="recipeID" class="form-control" name="recipeID" required>
            </div>
            <button id="recipe-upload" type="submit" class="btn btn-sm btn-primary">Bestellung aufgeben</button>
        </form>
    </div>
</div>
</body>
<% include partials/footer %>
</html>

<script>
    $(function () {
        $('#recipeID').val(Util.generateUUID());
    });

    $('#addInputs').on('click', function (e) {
        e.preventDefault();
        var container = $('#additionalIngredients');
        var formAppend =
        '<div class="form-group row">' +
            '<label for="ingredients" class="col-md-1 control-label ingredients-label">Zutaten</label>' +
            '<div class="col-md-3">' +
                '<input type="text" class="form-control" id="ingredients" name="ingredients" min="1">' +
            '</div>' +
            '<label for="ingredientAmount" class="col-md-1 control-label">Menge</label>' +
            '<div class="col-md-3">' +
                '<input type="number" class="form-control" id="amount" name="amount" min="1">' +
            '</div>' +
            '<label for="unitSelection" class="col-md-1 control-label">Maßeinheit</label>' +
            '<div class="col-md-3">' +
                '<input type="text" class="form-control" id="unit" name="unit" min="1">' +
            '</div>' +
        '</div>';
        container.append(formAppend);
    });
</script>