<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/adminHeader %>

<body>
<div class="container">
    <% include partials/breadcrumb %>
    <div>
        <h1><span class="fa fa-database"></span> Rezept hochladen</h1>
        <% if (typeof message !== 'undefined') { %>
        <div class="alert alert-success">
            <%= message %>
        </div>
        <% } %>
        <form action="/administration/upload" method="post" id="upload-form">
            <div class="form-group">
                <label>Rezeptname</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>Menüart</label>
                <select class="form-control" id="courseSelection" required>
                    <option></option>
                    <script>loadCourses();</script>
                </select>
            </div>
            <div class="form-group">
                <label>Region</label>
                <select class="form-control" id="styleSelection" required>
                    <option></option>
                    <script>loadStyles();</script>
                </select>
            </div>
            <div class="form-group row">
                <label for="ingredients" class="col-md-1 control-label ingredients-label">Zutaten</label>
                <div class="col-md-3">
                    <select class="form-control" id="ingredientSelection" required>
                        <option></option>
                        <script>loadIngredients();</script>
                    </select>
                </div>
                <label for="ingredientAmount" class="col-md-1 control-label">Menge</label>
                <div class="col-md-3">
                    <input type="number" class="form-control" id="ingredientAmount" min="1">
                </div>
                <label for="unitSelection" class="col-md-1 control-label">Maßeinheit</label>
                <div class="col-md-3">
                    <select class="form-control" id="unitSelection" required>
                        <script>loadUnits();</script>
                    </select>
                </div>
            </div>

            <div class="from-group">
                <button id="addInputs" class="glyphicons glyphicons-plus"></button>
            </div>
            <div class="form-group">
                <label>Preis p. Portion</label>
                <input id="price" type="text" class="form-control" name="price" required>
            </div>
            <button id="recipe-upload" type="submit" class="btn btn-sm btn-primary">Bestellung aufgeben</button>
        </form>
    </div>
</div>
</body>
<% include partials/footer %>
</html>

<script>
    $('#addInputs').on('click', function (e) {
        e.preventDefault();
        var units = loadUnits();
        var container = $('#additionalIngredients');
        var formAppend =
        '<div class="form-group row">' +
            '<label for="ingredients" class="col-md-1 control-label ingredients-label">Zutaten</label>' +
            '<div class="col-md-3">' +
                '<select class="form-control" id="ingredientSelection" required>' +
                    '<option>' +
                    loadIngredients() +
                    '</option>' +
                '</select>' +
            '</div>' +
            '<label for="ingredientAmount" class="col-md-1 control-label">Menge</label>' +
            '<div class="col-md-3">' +
                '<input type="number" class="form-control" id="ingredientAmount" min="1">' +
            '</div>' +
            '<label for="unitSelection" class="col-md-1 control-label">Maßeinheit</label>' +
            '<div class="col-md-3">' +
                '<select class="form-control" id="unitSelection" required>' +
                    loadUnits() +
                '</select>' +
            '</div>' +
        '</div>';
        container.append(formAppend);
    });

</script>