<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/adminHeader %>
<body>
<div class="container">
    <% include partials/breadcrumb %>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Rezeptupload</h1>
        </div>
    </div>
    <div class="form-group">
        <input type="file" name="recipe[]" class="file" style="visibility: hidden; position: absolute">
        <div class="input-group col-xs-12">
            <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
            <input type="text" class="form-control input-lg" placeholder="Upload Recipe...">
            <span class="input-group-btn">
        <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
      </span>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });

    $(document).on('change', '.file', function () {
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });
</script>
</body>
<% include partials/footer %>
</html>