<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/adminHeader %>

<body>
<div class="container">
    <% include partials/breadcrumb %>
    <div>
        <h1><span class="fa fa-database"></span> Rezept hochladen</h1>
        <% if (typeof message !== 'undefined') { %>
        <div class="alert alert-success">
            <%= message %>
        </div>
        <% } %>
        <form action="/administration/upload" method="post" id="upload-form" enctype="application/json">
            <div class="form-group">
                <label>Rezeptname</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>Menüart</label>
                <select class="form-control" id="courseSelection" name="course" required>
                    <option></option>
                    <script>loadCourses();</script>
                </select>
            </div>
            <div class="form-group">
                <label>Region</label>
                <select class="form-control" id="styleSelection" name="style" required>
                    <option></option>
                    <script>loadStyles();</script>
                </select>
            </div>
            <div class="form-group row">
                <label for="ingredients" class="col-md-1 control-label ingredients-label">Zutaten</label>
                <div class="col-md-3">
                    <select class="form-control" id="ingredientSelection" name="ingredients" required>
                        <option></option>
                        <script>loadIngredients();</script>
                    </select>
                </div>
                <label for="ingredientAmount" class="col-md-1 control-label">Menge</label>
                <div class="col-md-3">
                    <input type="number" class="form-control" name="amount" id="amount" min="1">
                </div>
                <label for="unitSelection" class="col-md-1 control-label">Maßeinheit</label>
                <div class="col-md-3">
                    <select class="form-control" id="unitSelection" name="unit" required>
                        <script>loadUnits();</script>
                    </select>
                </div>
            </div>
            <div id="additionalIngredients">

            </div>
            <div class="from-group">
                <button id="addInputs"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <div class="form-group">
                <label>Preis p. Portion</label>
                <input id="price" type="text" class="form-control" name="price" required>
            </div>
            <button id="recipe-upload" type="submit" class="btn btn-sm btn-primary">Bestellung aufgeben</button>
        </form>
    </div>
</div>
</body>
<% include partials/footer %>
</html>

<script>
    //TODO: get this Json structure out of this form
    /*
    {
        "name":"Rezeptname",
        "ingredients":{
            "Backpulver":{
                "ingredientAmount":"50",
                "ingredientUnit":"g"
            },
            "Tomatensaft":{
                "ingredientAmount":"2",
                "ingredientUnit":"Teelöffel"
            }
        },
        "price":"2,50€"
    }
     */
    $('#addInputs').on('click', function (e) {
        e.preventDefault();
        var units = loadUnits();
        var container = $('#additionalIngredients');
        var formAppend =
        '<div class="form-group row">' +
            '<label for="ingredients" class="col-md-1 control-label ingredients-label">Zutaten</label>' +
            '<div class="col-md-3">' +
                '<input type="text" class="form-control" id="ingredients" name="ingredients" min="1">' +
            '</div>' +
            '<label for="ingredientAmount" class="col-md-1 control-label">Menge</label>' +
            '<div class="col-md-3">' +
                '<input type="number" class="form-control" id="amount" name="amount" min="1">' +
            '</div>' +
            '<label for="unitSelection" class="col-md-1 control-label">Maßeinheit</label>' +
            '<div class="col-md-3">' +
                '<input type="text" class="form-control" id="unit" name="unit" min="1">' +
            '</div>' +
        '</div>';
        container.append(formAppend);
    });
</script>