<!DOCTYPE html>
<html>
<% include partials/head %>
<% include partials/header %>

<% include partials/navbar %>
<body>
<div class="container">
    <% include partials/breadcrumb %>
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-gift"></span> Kochbox bestellen</h1>
        <% if (typeof message !== 'undefined') { %>
        <div class="alert alert-success">
            <%= message %>
        </div>
        <% } %>
        <form action="/upload" method="post" id="kochboxen-form">
            <div class="form-group">
                <label>Rezeptname</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label>Menüart</label>
                <select class="form-control" id="courseSelection" required>
                    <option>--- Wählen Sie Ihre Menüart aus ---</option>
                    <script> loadCourses();</script>
                </select>
            </div>
            <div class="form-group">
                <label>Region</label>
                <select class="form-control" id="styleSelection" required>
                    <option>--- Wählen Sie die Herkunft Ihres Repezts aus ---</option>
                    <script> loadStyles();</script>
                </select>
            </div>
            <div class="form-group">
                <label>Zutaten</label>
                <textarea class="form-control col-md-4" id="ingredients" name="ingredients" vresize required></textarea>
                <label>Menge</label>
                <input id="ingredientAmount col-md-4" type="number" class="form-control" name="ingredientAmount" min="1"
                <label>Maßeinheit</label>
                <select class="form-control" id="unitSelection" required>
                    <option>--- Wählen Sie die passende Maßeinheit ---</option>
                    <script> loadUnits();</script>
                </select>
            </div>
            <div class="form-group">
                <label>Preis p. Portion</label>
                <input id="price" type="text" class="form-control" name="price" required>
            </div>
            <button id="kochboxen-submit" type="submit" class="btn btn-sm btn-primary">Bestellung aufgeben</button>
        </form>
    </div>
</div>
</body>
<% include partials/footer %>
</html>