body {
    background-color: #FFFFFA;
}

a {
    color: #40434E;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #F8F8F8;
    border-top: 1px solid #e7e7e7;
}

.g-recaptcha {
    float: right;
}

#navbar {
    border-top: 1px solid #080705;
    border-bottom: 2px solid #080705;
    margin-bottom: 20px;
}
.nav-logo {
    height: 40px;
    width: 84px;
}