body {
    background-color: #FFFFFA;
}

a {
    color: #40434E;
}

p {
  text-align: justify;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.container{
    margin-top: 80px;
}

/* Footer styles */
#footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

/* Form styles */
.form-control {
    width: 80%;
}

/* Button styles */
.btn {
    background-color: #40434E;
    border-color: #575a66;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #575a66;
}

/* Header styles */
#header-wrapper {
    width: 40px;
}

#user-name-header {
    cursor: pointer;
}

/* Navbar styles */
#navbar {
    border-top: 1px solid #080705;
    border-bottom: 2px solid #080705;
    margin-bottom: 20px;
    margin-top: 70px;
}

.nav.nav-inline .nav {
    text-align: center;
}

.nav-logo {
    height: 40px;
    width: 84px;
}

/*Recipe Box styles*/
.recipe-box {
    background-color: #912F40;
    width: 250px;
    height: 300px;
    margin-left: 50px;
    position: absolute;
}

#recipes-recipe-img {
    width: inherit;
}

#recipes-recipe-short-description {
    color: #FFFFFA;
    margin: 10px 10px 10px 10px;
}

#recipes-recipe-button {
    position: relative;
    float: right;
    -webkit-appearance: button;
    cursor: pointer;
    margin: 0 10px 15px 10px;
    color: #FFFFFA;
}

#dropdown-recipe-categorie {
    color: #fff;
}

/*Login Button styles */
#login-img-buttons {
    margin-left: 17%;
}

#login-img {
    width: 50px;
}

/* Dropdown styles */
.dropdown-menu {
    position: fixed;
}

#dropdown-logout {
    left: 88% !important;
}

#dropdown-standard, #dropdown-logout, #dropdown-recipe-categories{
    opacity: 0.8;
}

#dropdown-recipe-categories {
    top: 105px !important;
    left: 42.95% !important;
}

/* Slider styles */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

#home-slider {
    margin-bottom: 20px;
}
