body {
    background-color: #FFFFFA;
}

a {
    color: #40434E;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.btn {
    background-color: #40434E;
    border-color: #575a66;
}

.btn:hover {
    background-color: #575a66;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #F8F8F8;
    border-top: 1px solid #e7e7e7;
}

/* Navbar styles */
#navbar {
    border-top: 1px solid #080705;
    border-bottom: 2px solid #080705;
    margin-bottom: 20px;
}
.nav.nav-inline .nav {
    text-align: center;
}

.nav-logo {
    height: 40px;
    width: 84px;
}

/*Recipe Box styles*/
.recipe-box {
    background-color: #912F40;
    width: 250px;
    height: 300px;
    margin-left: 50px;
    position: absolute;
}

#recipes-recipe-img {
    width: inherit;
}

#recipes-recipe-short-description {
    color: #FFFFFA;
    margin: 10px 10px 10px 10px;
}

#recipes-recipe-button {
    position: relative;
    float: right;
    -webkit-appearance: button;
    cursor: pointer;
    margin: 0 10px 15px 10px;
    color: #FFFFFA;
}

/*Login Button styles */
#login-img-buttons{
  margin-left: 230px;
}

#login-img{
  width: 50px;
}


/* Dropdown styling */
#dropdown-logout {
    left: 50%;
}