body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#dropdown-standard {
    background-color: #FFFFFA;
}

.sidebar-menu-button {
    position: absolute;
    line-height: 45px;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
    outline: none;
}